body {
  background-color: #ABB2B9;
  text-align: center;
  font-family: monospace;
  font-size: 40px;
  padding: 30px;
}
button {
  border-color: #000000;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: transparent;
}
button:hover {
  border-color: #777777;
}
button:active {
}
input {
  border-color: #000000;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: transparent;
}
input:active{
  border-color: #000000
}
